<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-2xl font-bold mb-4 text-center">Iniciar Sesión</h2>
        <input type="text" id="login-username" class="w-full p-2 mb-2 border rounded" placeholder="Usuario">
        <input type="password" id="login-password" class="w-full p-2 mb-4 border rounded" placeholder="Contraseña">
        <button onclick="loginUser()" class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-600">
            Iniciar Sesión
        </button>
        <p class="text-center mt-2 text-sm">¿No tienes cuenta? <a href="register" class="text-blue-500">Regístrate</a></p>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>